:root{
    --dark-primary: #333334;
    --dark-secondary: #d13449; 
    --dark-tertiary: #9fa9ac;

    --light-primary: #cccccb;
    --light-secondary: #d13449;
    --light-tertiary: #605653;

    --primary: var(--dark-primary);

    --h1: 7.993rem;
    --h2: 5.653rem;
    --h3: 3.998rem;
    --h4: 2.827rem;
    --h5: 1.999rem;
}
