:root{
    --dark-black: #333334;
    --dark-red: #9c2535; 
    --dark-grey: #a8d4e2;

    --light-white: #cccccb;
    --light-red: #d13449;
    --light-black: #605653;



    --h1: 7.993rem;
    --h2: 5.653rem;
    --h3: 3.998rem;
    --h4: 2.827rem;
    --h5: 1.999rem;

    --primary: var(--dark-red);
    --secondary: var(--dark-black);
}
.light{
    --primary: var(--light-white);
    --secondary: var(--light-red);
    --text: var(--light-black);
    
  }
  
.dark{
    --primary: var(--dark-black);
    --secondary: var(--dark-red);
    --text: var(--dark-grey);
    
  }